.idea
/venv
.env*
.log
/admin
/app/aleksan_site/sqlite3.db
.Spotlight-V100
.TemporaryItems
sqlite3.db
.DS_Store
/ssl_file/
/app/aleksan_site/static/admin/
/db_data/
/nginx/logs/access.log
/nginx/logs/error.log
!/logs
!/config
!/db_data
